<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./lSglobal.css" />
    <link rel="stylesheet" href="./lSindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="loginsignup">
      <div class="footer">
        <div class="parent">
          <div class="parent">
            <div class="div">© 2023</div>
            <div class="terms-conditions">
              Terms & Conditions | Privacy Policy
            </div>
            <div class="group-child"></div>
          </div>
        </div>
      </div>
      <div class="advanced-fleet-tracking-soluti">
        <img
          class="advanced-fleet-tracking-soluti-child"
          alt=""
          src="./public/group-54381@2x.png"
        />

        <div class="go-live-freely-parent">
          <div class="go-live-freely">Go live freely !</div>
          <a href="#">
            <div class="primary-button">
              
                <div class="get-started" style="color: aliceblue;">Get Started</div>
              
            </div>
          </a>
        </div>
      </div>
      <img class="loginsignup-child" alt="" src="./public/group-54202.svg" />

      <div class="delivery-business-interfcaes">
        <img
          class="delivery-business-interfcaes-child"
          alt=""
          src="./public/rectangle-2361.svg"
        />

        <div class="ellipse-parent">
          <img class="group-item" alt="" src="./public/ellipse-311.svg" />

          <img class="group-inner" alt="" src="./public/ellipse-611.svg" />

          <img class="ellipse-icon" alt="" src="./public/ellipse-321.svg" />

          <div class="ipad-pro">
            <img class="body-icon" alt="" src="./public/body1.svg" />

            <div class="ipad-pro-screen-1194x834">
              <div class="image-37"></div>
              <img
                class="ipad-pro-screen-1194x834-child"
                alt=""
                src="./public/line-21.svg"
              />

              <div class="sign-in">Sign In</div>
              <div class="login">Login</div>
              {{!-- form start for signup --}}
              <form action="post">
              <div class="username">Username
                <input type="text" name="" id="" style="background-color: rgb(128, 0, 128,0.01) ;color: rgb(249, 251, 253);font-size: x-large;border: none;">
              </div>
              <div class="email">Email
                <input type="text" name="" id="" style="background-color: rgb(128, 0, 128,0.01) ;color: rgb(249, 251, 253);font-size: x-large;border: none;">
              </div>
              <div class="password">Password
                <input type="password" name="" id="" style="background-color: rgb(128, 0, 128,0.01) ;color: rgb(249, 251, 253);font-size: x-large;border: none;">
              </div>
              <div class="ipad-pro-screen-1194x834-item"></div>
              <div class="ipad-pro-screen-1194x834-inner"></div>
              <div class="line-div"></div>
              <img class="ipad-pro-screen-1194x834-item" style="left:55%" src="./public/line-7.svg">
              <img class="ipad-pro-screen-1194x834-item" style="top: 48%;left:55%" src="./public/line-7.svg">
              <img
              class="ipad-pro-screen-1194x834-item"
                alt=""
                src="./public/line-7.svg"
              />

              <div class="primary-button1" style="padding: 0px;">
                <button type="submit" class="get-started" style="background-color: var(--orange);color: white;height: inherit;width: 14vw;border: none;
border-radius: inherit;">Sign up</button>
              </div>
              </form>
              {{!-- form end for signup --}}

              {{!-- form start for login --}}
              <form action="get">
              <div class="username1">Username
                <input type="text" name="" id="" style="background-color: rgb(128, 0, 128,0.01) ;color: rgb(249, 251, 253);font-size: x-large;border: none;">
              </div>
              <div class="password1">Password
                <input type="password" name="" id="" style="background-color: rgb(128, 0, 128,0.01) ;color: rgb(249, 251, 253);font-size: x-large;border: none;">
              </div>
              <div class="primary-button2" style="padding: 0px;">
                <button type="submit" class="get-started" style="background-color: var(--orange);color: white;height: inherit;width: 14vw;border: none;
border-radius: inherit;">Login</div>
              </button>
              </form>
              {{!-- form end for login--}}
              <div class="forgot-password">Forgot Password ?</div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-in-one-proof-for-final-mil" style="z-index: -1;">
      </div>
        <div class="one-stop-solution-for-all-your-parent">
          <div class="one-stop-solution-for">
            One-stop solution for all your streaming problems
          </div>
          <div class="rectangle-div"></div>
        </div>
        <img
          class="all-in-one-proof-for-final-mil-child"
          alt=""
          src="./public/ellipse-134.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-item"
          alt=""
          src="./public/group-54422.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-inner"
          alt=""
          src="./public/group-54431.svg"
        />
      <div class="hero">
        <img class="vector-icon" alt="" src="./public/vector.svg" />

        <div class="menu-wrapper">
          <div class="menu">
            <div class="text">
              <div class="sign-inlogin">Sign In/Login</div>
              <div class="sign-in1" style="top: 80%">Sign In / Login</div>
              <div class="text-child"></div>
            </div>
            <div class="home-schedule">
              <a href="home" style="color:aliceblue">
                Home
              </a>
              
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="schedule" style="color: aliceblue;">
                Schedule
              </a> </div>
          </div>
        </div>
      </div>

      <div class="navigate"></div>
      <div class="loginsignup-inner">
        <div class="go-live-parent">
          <div class="go-live">Go live</div>
          <img class="logo-icon" alt="" src="./public/logo.svg" />
        </div>
      </div>
      <div class="join-us-today">Join us today</div>
      <div class="join-us-today1">Join us today !</div>
      <img class="loginsignup-item" alt="" src="./public/group-54462@2x.png" />

      <img class="group-icon" alt="" src="./public/group-54211.svg" />
    </div>
  </body>
</html>
