<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./UPglobal.css" />
    <link rel="stylesheet" href="./UPindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=font:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="plan-selection">
      <div class="hero">
        <img class="vector-icon" alt="" src="./public/vector.svg" />

        <div class="menu-wrapper">
          <div class="menu">
            <div class="text">
              <div class="select-a-plan">Select a plan</div>
              <div class="text-child"></div>
            </div>
            <div class="home-schedule-plan-container">
              
              <a href="home" style="color:white">  Home  </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
               
              <a href="schedule" style="color:white"> Schedule </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="plan" >

                <span class="plan" style="font-size: xx-large;color: aliceblue;"> Plan </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="navigate"></div>
      <div class="footer-parent">
        <div class="footer">
          <div class="parent">
            <div class="parent">
              <div class="div">© 2023</div>
              <div class="terms-conditions">
                Terms & Conditions | Privacy Policy
              </div>
              <div class="group-child"></div>
            </div>
          </div>
        </div>
        <div class="advanced-fleet-tracking-soluti">
          <img
            class="advanced-fleet-tracking-soluti-child"
            alt=""
            src="./public/group-5438@2x.png"
          />

          <div class="go-live-freely-parent">
            <div class="go-live-freely">Go live freely !</div>
            <div class="primary-button">
              <div class="get-started">Get Started</div>
            </div>
          </div>
        </div>
        <img class="group-item" alt="" src="./public/group-5420.svg" />

        <div class="all-in-one-proof-for-final-mil">
          <div class="one-stop-solution-for-all-your-parent">
            <div class="one-stop-solution-for" >
              One-stop solution for all your streaming problems
            </div>
            <div class="group-inner"></div>
          </div>
          <div class="all-in-one-proof-for-final-mil-child"></div>
          <img
            class="all-in-one-proof-for-final-mil-item"
            alt=""
            src="./public/group-5442.svg"
          />

          <img
            class="all-in-one-proof-for-final-mil-inner"
            alt=""
            src="./public/group-5443.svg"
          />
        </div>
        <div class="group-wrapper">
          <div class="go-live-parent">
            <div class="go-live">Go live</div>
            <img class="logo-icon" alt="" src="./public/logo.svg" />
          </div>
        </div>
        <div class="join-us-today">Join us today</div>
      </div>
      <div class="select-a-suitable">
        Select a suitable plan as per your convenience
      </div>
      <img
        class="plan-selection-child"
        alt=""
        src="./public/group-5446@2x.png"
      />

      <img class="plan-selection-item" alt="" src="./public/group-5421.svg" />

      <div class="plan1">Plan</div>
      <div class="plan-selection-inner" ></div>
      <div class="group-div" >
        <div class="delivery-business-interfcaes-parent" >
          <img
            class="delivery-business-interfcaes"
            style="z-index: -1;"
            src="./public/delivery-business-interfcaes.svg"
          />

          <img class="cricles-icon" style="z-index: -1;" src="./public/-cricles.svg" />

          <div class="rectangle-div"></div>
          <div class="group-child1"></div>
          <div class="group-child2"></div>
          <div class="basic">Basic</div>
          <div class="standard">Standard</div>
          <div class="custom">Custom</div>
          <div class="hrs-per-week">4 hrs per week of SD Streaming</div>
          <div class="line-div"></div>
          <div class="group-child3"></div>
          <div class="group-child4"></div>
          <div class="features"><span class="plan">Features</span> :</div>
          <div class="features2"><span class="plan">Features</span> :</div>
          <div class="features4"><span class="plan">Features</span> :</div>
          <div class="no-cost-free">No cost (free)</div>
          <img class="image-44-icon" alt="" src="./public/image-44@2x.png" />

         

          <div class="standard-video-quality">Standard video quality</div>
          <img class="image-47-icon" alt="" src="./public/image-44@2x.png" />

          

          <div class="hours-of-video">4 hours of Video Streaming</div>
          <img class="image-46-icon" alt="" src="./public/image-44@2x.png" />

          

          

          <div class="lorem-ipsum-dor-parent">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-group">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-container">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-parent1">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-parent2">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-parent3">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-parent4">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
          <div class="lorem-ipsum-dor-parent5">
            <div class="lorem-ipsum-dor">lorem ipsum dor</div>
            <img class="image-48-icon" alt="" src="./public/image-44@2x.png" />
          </div>
         
          <div class="standard-latency">Standard latency</div>
          <img class="image-45-icon" alt="" src="./public/image-44@2x.png" />
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="group-child11"></div>
        <b class="get">Get</b>
      </div>
      <div class="rectangle-group">
        <div class="group-child11"></div>
        <b class="get">Get</b>
      </div>
      <div class="rectangle-container">
        <div class="group-child11"></div>
        <b class="get">Get</b>
      </div>
      <div class="lorem-ipsum-lorem">lorem ipsum lorem ipsum lorem</div>
      <div class="lorem-ipsum-lorem1">lorem ipsum lorem ipsum lorem</div>
    </div>
  </body>
</html>
