<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./Schglobal.css" />
    <link rel="stylesheet" href="./Schindex.css" />
    <script src="jsCal.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=font:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="schedule-selection-final">
      <div class="footer">
        <div class="footer1">
          <div class="parent">
            <div class="div">© 2023</div>
            <div class="terms-conditions">
              Terms & Conditions | Privacy Policy
            </div>
            <div class="group-child"></div>
          </div>
        </div>
        <div class="footer-inner">
          <div class="go-live-parent">
            <div class="go-live">Go live</div>
            <img class="logo-icon" alt="" src="./public/logo.svg" />
          </div>
        </div>
      </div>
      <div class="advanced-fleet-tracking-soluti">
        <img
          class="advanced-fleet-tracking-soluti-child"
          alt=""
          src="./public/group-5438@2x.png"
        />

        <div class="go-live-freely-parent">
          <div class="go-live-freely">Go live freely !</div>
          <div class="primary-button">
            <div class="get-started">Get Started</div>
          </div>
        </div>
      </div>
      <img
        class="schedule-selection-final-child"
        alt=""
        src="./public/group-5420.svg"
      />

      <img
        class="delivery-business-interfcaes"
        alt=""
        src="./public/delivery-business-interfcaes.svg"
      />

      <div class="all-in-one-proof-for-final-mil">
        <img
          class="all-in-one-proof-for-final-mil-child"
          alt=""
          src="./public/rectangle-84.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-item"
          alt=""
          src="./public/rectangle-83.svg"
        />

        <div class="one-stop-solution-for-all-your-parent">
          <div class="one-stop-solution-for">
            One-stop solution for all your streaming problems
          </div>
          <div class="group-item"></div>
        </div>
        <div class="group-parent">
          <div class="easy-to-go-live-in-minutes-wit-parent">
            <div class="easy-to-go">
              Easy to go live in minutes without any troubles with our platform
            </div>
            <div class="record-podcast">Easy Guide</div>
            <img class="icon-1" alt="" src="./public/icon-1.svg" />

            <img class="group-inner" alt="" src="./public/vector-13.svg" />

            <img class="vector-icon" alt="" src="./public/vector-14.svg" />
          </div>
          <div class="we-at-most-give-priority-tio-t-parent">
            <div class="we-at-most-container">
              <p class="we-at-most">
                We at most give priority tio the security so that you can stream
                freely
              </p>
            </div>
            <div class="record-podcast">Secure</div>
            <img class="icon-2" alt="" src="./public/icon-2.svg" />
          </div>
          <div class="easily-schedule-your-livestrea-parent">
            <div class="easily-schedule-your">
              Easily schedule your livestream
            </div>
            <div class="record-podcast">Schedule</div>
            <img class="icon-3" alt="" src="./public/icon-3.svg" />
          </div>
          <img class="path-icon" alt="" src="./public/path.svg" />

          <img class="group-icon" alt="" src="./public/group.svg" />

          <img
            class="compound-path-icon"
            alt=""
            src="./public/compound-path.svg"
          />
        </div>
        <div class="all-in-one-proof-for-final-mil-inner"></div>
        <img
          class="all-in-one-proof-for-final-mil-child1"
          alt=""
          src="./public/group-5442.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-child2"
          alt=""
          src="./public/group-5443.svg"
        />
      </div>
      <div class="solutions-for-every-delivery">
        <div class="schedule-livestream-parent">
          <div class="schedule-livestream">Schedule Livestream</div>
          <div class="rectangle-div"></div>
        </div>
      </div>
      <div class="hero">
        <img class="vector-icon1" alt="" src="./public/vector.svg" />

        <div class="menu-wrapper">
          <div class="menu">
            <div class="text">
              <div class="schedule">Schedule</div>
              <div class="text-child"></div>
              <div class="happy-scheduling">Happy Scheduling !</div>
            </div>
            <div class="home-schedule-plan-container">
              <a href="home" style="color:aliceblue;">
                         &nbsp;Home &nbsp;
               
              </a>
              &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" style="color:aliceblue;font-size: x-large;">
                <span class="span"> 
                  Schedule
                 </span>
              </a>
              &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="plan" style="color:aliceblue;">
                Plan

              </a>
            </div>
            <div class="navigate"></div>
          </div>
        </div>
        <div class="union" style="position:unset;">
          <div class="jan" style="visibility: hidden;">
            <div class="month">
              <div class="jan-2021">Jan 2021</div>
            </div>
            
            <div class="weekdays" style="visibility: unset;">
              <div class="weekday-parent" style="visibility: unset;">
                <div class="weekday" style="visibility: unset;">
                  <div class="sunday"style="visibility: unset;">Sunday</div>
                </div>
                <div class="weekday">
                  <div class="sunday1"style="visibility: unset;">Monday</div>
                </div>
                <div class="weekday">
                  <div class="sunday1"style="visibility: unset;">Tuesday</div>
                </div>
                <div class="weekday">
                  <div class="sunday3"style="visibility: unset;">Wednesday</div>
                </div>
                <div class="weekday"style="visibility: unset;">
                  <div class="sunday4"style="visibility: unset;">Thursday</div>
                </div>
                <div class="weekday">
                  <div class="sunday5"style="visibility: unset;">Friday</div>
                </div>
                <div class="weekday">
                  <div class="sunday6">Saturday</div>
                </div>
              </div>
              <div class="weekdays-child"></div>
            </div>
          </div>
        </div>
      </div>
      <img class="cricles-icon" alt="" src="./public/-cricles.svg" />

      <div class="purple-circle"></div>
      <img
        class="schedule-selection-final-item"
        alt=""
        src="./public/rectangle-247@2x.png"
      />

      <img class="frame-icon" alt="" src="./public/frame@2x.png" />

      <div class="template-8">
        <div class="month1">
          <div class="may-2021" id="monthDisp">May 2021</div>
          <img class="month-child" alt="" src="./public/group-1.svg" />
        </div>
        
    <div class="calendar">
      <div class="header">
          <button id="prevBtn" class="buttonForMonth">&lt;</button>
          <h1 id="monthYear"></h1>
          <button id="nextBtn" class="buttonForMonth" style="left:118%">&gt;</button>
      </div>
      <script src="jsCal.js"></script>
      <table id="calendarTable"  style="top:-25px;position: absolute;
      top: -71px;left: -4%;">
          
          <tbody id="calendarBody" style="justify-content: center;text-align: center;">
              <thead style="background-color: rgb(223, 223, 223);font-size: 29px;">
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
              </thead>
          </tbody>
      </table>
  </div>

        <div class="planner-example">
          <div class="title">
            <div class="monthly-plan">🗓️ Monthly Plan</div>
          </div>
          <div class="info-area">
            <div class="cards">
              <div class="card-sign">
                <div class="card-sign-child"></div>
                <img
                  class="card-sign-item"
                  alt=""
                  src="./public/rectangle-2.svg"
                />
                <div class="may">MAY</div>
                <div class="div156">2-8</div>
              </div>
              <div class="schedule-stream">Schedule Stream</div>
            </div>
            {{!-- form start --}}
            <form action="post">
              
            <div class="cards1">
              <div class="stream-name">
                <p class="we-at-most">Stream Name:</p>
              </div>
              <div class="cards-child" style="background-color: white;">
                <input class="fontBold" type="text" name="" id="" style="width:100%;height: 80%;background-color: rgb(209, 209, 209);border:none;">
              </div>
            </div>
            <div class="cards2">
              <div class="description">Description</div>
              <div class="cards-item" style="background-color: rgb(255, 255, 255);"><input  class="fontBold" type="text" name="" id="" style="width:100%;height: 80%;background-color: rgb(209, 209, 209);border:none;"></div>
            </div>
            <div class="cards2">
              <div class="description" >Date of Stream</div>
              <div class="cards-item" id="StreamDate" style="width:100%;height: 80%;background-color: rgb(209, 209, 209);" ></div>
            </div>
            <div class="cards1">
              <div class="stream-name">
                <p class="we-at-most">Begin</p>
                <p class="we-at-most">Time:</p>
              </div>
              <div class="cards-child" style="background-color: aliceblue;width:fit-content;height:max-content"><input type="time" onchange="TTime()" name="" id="st" style="width:100%;height: 80%;background-color: rgb(209, 209, 209);border:none;"></div>
            </div>
            <div class="cards4">
              <div class="stream-name">
                <p class="we-at-most">End</p>
                <p class="we-at-most">Time:</p>
              </div>
              <div class="cards-child" style="background-color: aliceblue;width:fit-content;height:max-content"><input type="time" name="" id="et" style="width:100%;height: 80%;background-color: rgb(209, 209, 209);border:none;" onchange="TTime()"></div>
            </div>
            <div class="cards5">
              <div class="latency">Latency</div>
              <div class="radio-button"><input type="radio" name="latency" value="Standard" id="" style="top:1%;top: -26%;left: -9px;position: absolute;height: 15px;width: 15px;vertical-align: middle;"></div>
              <div class="standard">Standard</div>
              <div class="radio-button1"><input type="radio" name="latency" value="Basic" id="" style="height: 15px;width: 15px;vertical-align: middle;top:1%;top: -26%;left: -9px;position: absolute;"></div>
              <div class="standard">Basic</div>
            </div>
            <div class="cards6">
              <div class="latency">Total Time(hours:minutes)</div>
              <div class="cards-child2"style="text-align:center;" id="totalHours"></div>
            </div>
            <div class="rectangle-parent">
              
              <b class="create" style="left:0.1vw"><button class="createBtn" style="position:relative;left:7vw;"type="submit">Create</button> </b>
            </div>
          </div>
        </div>
        <div class="template-8-child"></div>
        <div class="details">Details</div>
        <div class="template-8-item"></div>
        <div class="stream-key-container">
          <p class="we-at-most">
            Stream key ( details for starting the livestream)
          </p>
          <p class="we-at-most">&nbsp;</p>
          <p class="we-at-most">Latency</p>
          <p class="we-at-most">&nbsp;</p>
          <p class="we-at-most">Duration of hrs</p>
          <p class="we-at-most">&nbsp;</p>
          <p class="we-at-most">Date & Time</p>
        </div>
      </form>
        {{!-- form end --}}
        <img class="notepad-1-icon" alt="" src="./public/notepad-1@2x.png" />

        <img class="notepad-2-icon" alt="" src="./public/notepad-1@2x.png" />

        <img class="notepad-3-icon" alt="" src="./public/notepad-1@2x.png" />

        <img class="notepad-4-icon" alt="" src="./public/notepad-1@2x.png" />

        <img class="frame-icon1" alt="" src="./public/frame1@2x.png" />

        <img class="template-8-inner" alt="" src="./public/polygon-4.svg" />
      </div>
      <div class="purple-circle1"></div>
      <div class="happy-streaming">Happy streaming !</div>
      <img
        class="schedule-selection-final-inner"
        alt=""
        src="./public/polygon-3.svg"
      />
    </div>
  </body>
</html>
