<!DOCTYPE>
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./UPglobal.css" />
    <link rel="stylesheet" href="./user-landing-page-after-loginsignup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=font:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abhaya Libre:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="user-landing-page-after-login">
      <div class="footer2">
        <div class="group">
          <div class="group">
            <div class="div1">© 2023</div>
            <div class="terms-conditions1">
              Terms & Conditions | Privacy Policy
            </div>
            <div class="group-child14"></div>
          </div>
        </div>
      </div>
      <div class="faq">
        <div class="faq-child"></div>
        <div class="group-parent">
          <div class="about-us-parent">
            <div class="about-us">About us</div>
            <div class="group-child15"></div>
            <img class="frame-icon" alt="" src="./public/frame.svg" />
          </div>
          <img class="group-icon" alt="" src="./public/group-5440.svg" />
        </div>
        <img class="image-42-icon" alt="" src="./public/image-42@2x.png" />
      </div>
      <div class="advanced-fleet-tracking-soluti1">
        <img
          class="advanced-fleet-tracking-soluti-item"
          alt=""
          src="./public/group-54381@2x.png"
        />

        <div class="go-live-freely-group">
          <div class="go-live-freely1">Go live freely !</div>
          <a href="plan">

            <div class="primary-button1" style="color:aliceblue">
              <div class="get-started1">Get Started</div>
            </div>
          </a>
        </div>
      </div>
      <img
        class="user-landing-page-after-login-child"
        alt=""
        src="./public/group-54201.svg"
      />

      <div class="delivery-business-interfcaes1">
        <img
          class="delivery-business-interfcaes-child"
          alt=""
          src="./public/rectangle-236.svg"
        />

        <div class="ellipse-parent">
          <div class="ellipse-div"></div>
          <div class="group-child16"></div>
          <div class="group-child17"></div>
          <div class="ipad-pro">
            <img class="body-icon" alt="" src="./public/body.svg" />

            <div class="ipad-pro-screen-1194x834">
              <div class="image-37"></div>
              <img
                class="ipad-pro-screen-1194x834-child"
                alt=""
                src="./public/line-2.svg"
              />

              <div class="sign-in">Sign In</div>
              <div class="login">Login</div>
              <div class="username">Username</div>
              <div class="username1">Username</div>
              <div class="email">Email</div>
              <div class="password">Password</div>
              <div class="password1">Password</div>
              <div class="ipad-pro-screen-1194x834-item"></div>
              <div class="ipad-pro-screen-1194x834-inner"></div>
              <div class="ipad-pro-screen-1194x834-child1"></div>
              <img class="line-icon" alt="" src="./public/line-6.svg" />

              <img
                class="ipad-pro-screen-1194x834-child2"
                alt=""
                src="./public/line-6.svg"
              />

              <div class="primary-button2">
                <div class="get-started1">Sign up</div>
              </div>
              <div class="primary-button3">
                <div class="get-started1">Sign up</div>
              </div>
              <div class="forgot-password">Forgot Password ?</div>
              <a href="plan">

                <img
                  class="image-44-icon1"
                  alt=""
                  src="./public/image-441@2x.png"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="group-container">
          <div class="for-everyone-parent">
            <div class="for-everyone">For Everyone</div>
            <div class="group-child18"></div>
          </div>
          <div class="primary-button4">
            <div class="get-started1">Sign in</div>
          </div>
          <img class="group-child19" alt="" src="./public/vector-1.svg" />
        </div>
      </div>
      <div class="primary-button5">
        <div class="get-started1">Plan</div>
      </div>
      <div class="primary-button6">
        <div class="get-started1">Go Live</div>
      </div>
      <div class="all-in-one-proof-for-final-mil1">
        <img
          class="all-in-one-proof-for-final-mil-child1"
          alt=""
          src="./public/rectangle-84.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-child2"
          alt=""
          src="./public/rectangle-83.svg"
        />

        <div class="one-stop-solution-for-all-your-group">
          <div class="one-stop-solution-for1">
            One-stop solution for all your streaming problems
          </div>
          <div class="group-child20"></div>
        </div>
        <div class="group-parent1">
          <div class="easy-to-go-live-in-minutes-wit-parent">
            <div class="easy-to-go">
              Easy to go live in minutes without any troubles with our platform
            </div>
            <div class="record-podcast">Easy Guide</div>
            <img class="icon-1" alt="" src="./public/icon-1.svg" />

            <img class="group-child21" alt="" src="./public/vector-13.svg" />

            <img class="group-child22" alt="" src="./public/vector-14.svg" />
          </div>
          <div class="we-at-most-give-priority-tio-t-parent">
            <div class="we-at-most-container">
              <p class="we-at-most">
                We at most give priority tio the security so that you can stream
                freely
              </p>
            </div>
            <div class="record-podcast">Secure</div>
            <img class="icon-2" alt="" src="./public/icon-2.svg" />
          </div>
          <div class="easily-schedule-your-livestrea-parent">
            <div class="easily-schedule-your">
              Easily schedule your livestream
            </div>
            <a href="schedule">

              <div class="record-podcast">Schedule</div>
              <img class="icon-3" alt="" src="./public/icon-3.svg" />
            </a>
          </div>
          <img class="path-icon" alt="" src="./public/path.svg" />

          <img class="group-icon1" alt="" src="./public/group.svg" />

          <img
            class="compound-path-icon"
            alt=""
            src="./public/compound-path.svg"
          />
        </div>
        <div class="all-in-one-proof-for-final-mil-child3"></div>
        <img
          class="all-in-one-proof-for-final-mil-child4"
          alt=""
          src="./public/group-54421.svg"
        />

        <img
          class="all-in-one-proof-for-final-mil-child5"
          alt=""
          src="./public/group-54431.svg"
        />
      </div>
      <div class="solutions-for-every-delivery">
        <div class="solutions">
          <div class="solutions-child"></div>
          <div class="workshops">Workshops</div>
          <div class="make-your-workshop">
            Make your workshop Attractive and Interactive like never before
          </div>
          <img class="food-icon" alt="" />

          <img class="image-38-icon" alt="" src="./public/image-38@2x.png" />
        </div>
        <div class="solutions1">
          <div class="solutions-item"></div>
          <div class="cultural-events">Cultural Events</div>
          <div class="make-your-cultural">
            Make your Cultural events more auspicious
          </div>
          <img class="image-39-icon" alt="" src="./public/image-39@2x.png" />
        </div>
        <div class="solutions2">
          <div class="solutions-item"></div>
          <div class="college-events">College Events</div>
          <div class="most-important-for">
            Most important for any student so lets make it remarkable
          </div>
        </div>
        <div class="solutions3">
          <div class="solutions-item"></div>
          <div class="logistics">Logistics</div>
          <div class="most-important-for">
            <p class="we-at-most">Nanotechnology immers</p>
            <p class="we-at-most">
              along the information highway will close the loop .
            </p>
          </div>
        </div>
        <div class="go-live-in-minutes-for-any-eve-parent">
          <div class="for-everyone">Go live in minutes for any Event !</div>
          <div class="group-child23"></div>
        </div>
      </div>
      <div class="hero1">
        <img class="vector-icon1" alt="" src="./public/vector.svg" />

        <div class="menu-parent">
          <div class="menu1">
            <div class="text1">
              <div class="go-live1">Go Live</div>
              <div class="text-item"></div>
              <div class="go-live-in1">
                Go Live in minutes and experience the vibe
              </div>
              <a href="plan">
                  <div class="primary-button7">
                <div class="get-started1" style="color:aliceblue">Get Started</div>
              </div>
              </a>
              
            </div>
            <div class="home-schedule-plan-container1">
              <a href="#" style="color:aliceblue;font-size: x-large;">

                <span class="home">
                  Home
                </span> 
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="schedule" style="color:aliceblue;" >
                Schedule
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="plan" style="color:aliceblue;" >
                Plan
              </a>
            </div>
          </div>
          <img class="group-child24" alt="" src="./public/group-54461@2x.png" />
        </div>
      </div>
      <img
        class="user-landing-page-after-login-item"
        alt=""
        src="./public/group-542011.svg"
      />

      <img
        class="user-landing-page-after-login-inner"
        alt=""
        src="./public/group-5421.svg"
      />

      <img class="cricles-icon1" style="z-index: -1;" src="./public/-cricles.svg" />

      <img class="image-40-icon" alt="" src="./public/image-40@2x.png" />

      <img class="image-41-icon" alt="" src="./public/image-41@2x.png" />

      <div class="welcome-to-our-container">
        <p class="we-at-most">
          Welcome to our streaming service! We're a team of dedicated
          professionals who are passionate about providing our users with the
          best streaming experience possible. To achieve this goal, we use the
          cloud services that can make this task happen.
        </p>
        <p class="we-at-most">&nbsp;</p>
        <p class="we-at-most">
          Our team is composed of experienced developers, designers, and video
          experts who work together to create a seamless and enjoyable streaming
          experience for our users. We know that buffering, poor video quality,
          and other technical issues can ruin the streaming experience, which is
          why we strive to eliminate these problems as much as possible.
        </p>
        <p class="we-at-most">
          By using cloud, we're able to take advantage of its cutting-edge
          features, including low-latency streaming, high-quality video
          playback, and advanced analytics. This means that our users can enjoy
          smooth streaming without any interruptions, no matter where they are
          or what device they're using.
        </p>
        <p class="we-at-most">&nbsp;</p>
        <p class="we-at-most">
          At our core, we're committed to providing the best possible streaming
          experience for our users. Whether you're watching your favorite show,
          tuning into a live event, or discovering new content, we want to
          ensure that you have a seamless and enjoyable experience. Thank you
          for choosing our streaming service, and we look forward to serving
          you!
        </p>
      </div>
      <img
        class="user-landing-page-after-login-child1"
        alt=""
        src="./public/line-1.svg"
      />

      <img
        class="user-landing-page-after-login-child2"
        alt=""
        src="./public/rectangle-247@2x.png"
      />

      <div class="about-us1">About us</div>
      <div class="navigate1"></div>
      <div class="user-landing-page-after-login-inner1">
        <div class="go-live-group">
          <div class="go-live2">Go live</div>
          <img class="logo-icon1" alt="" src="./public/logo.svg" />
        </div>
      </div>
      <div class="good-to-see">Good to see you here!</div>
    </div>
  </body>
<>
