.div,
.terms-conditions {
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 263%;
  display: inline-block;
  width: 352px;
  opacity: 0.5;
}
.terms-conditions {
  left: 998px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: #d7e1f4;
  width: 1251px;
  height: 1px;
}
.footer1,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1350px;
  height: 59px;
}
.footer1 {
  top: 228px;
}
.go-live {
  position: absolute;
  top: 4px;
  left: 69px;
  line-height: 185%;
  display: inline-block;
  width: 295px;
  opacity: 0.8;
}
.footer,
.footer-inner,
.go-live-parent,
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
}
.footer,
.footer-inner,
.go-live-parent {
  width: 364px;
}
.footer,
.footer-inner {
  font-size: var(--font-size-5xl);
}
.footer {
  top: 4733px;
  left: 167px;
  width: 1350px;
  height: 287px;
  font-size: var(--font-size-mini);
  color: var(--text-grey);
}
.advanced-fleet-tracking-soluti-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1587px;
  height: 577px;
  object-fit: cover;
}
.go-live-freely {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 61px;
}
.get-started {
  position: relative;
}
.primary-button {
  position: absolute;
  top: 147px;
  left: 3px;
  border-radius: 15px;
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  padding: 17px 40px;
  align-items: center;
  justify-content: flex-start;
  font-size: 21px;
}
.go-live-freely-parent {
  position: absolute;
  top: 179px;
  left: 167px;
  width: 241px;
  height: 202px;
}
.advanced-fleet-tracking-soluti {
  position: absolute;
  top: 4047px;
  left: 0;
  width: 1587px;
  height: 577px;
}
.schedule-selection-final-child {
  position: absolute;
  top: 4200px;
  left: 61px;
  width: 153.83px;
  height: 153.83px;
}
.delivery-business-interfcaes {
  position: absolute;
  top: 1570.43px;
  left: -101.46px;
  width: 1791.3px;
  height: 1537.18px;
}
.all-in-one-proof-for-final-mil-child {
  position: absolute;
  top: 200px;
  left: 135.92px;
  width: 1595.5px;
  height: 1033px;
  opacity: 0.5;
}
.all-in-one-proof-for-final-mil-item {
  position: absolute;
  top: 138.5px;
  left: 136.42px;
  width: 1591px;
  height: 1073px;
}
.one-stop-solution-for {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 54px;
}
.group-item {
  position: absolute;
  top: 135px;
  left: 370px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--white);
  width: 84px;
  height: 4px;
}
.one-stop-solution-for-all-your-parent {
  position: absolute;
  top: 411px;
  left: 497.92px;
  width: 830px;
  height: 139px;
}
.easy-to-go,
.record-podcast {
  position: absolute;
  display: inline-block;
}
.easy-to-go {
  top: 201px;
  left: 12px;
  line-height: 29px;
  width: 292px;
  height: 94px;
}
.record-podcast {
  top: 163px;
  left: 0;
  font-size: var(--font-size-8xl);
  line-height: 30px;
  width: 317px;
}
.icon-1 {
  position: absolute;
  top: 0;
  left: 104px;
  width: 83px;
  height: 114px;
}
.group-inner,
.vector-icon {
  position: absolute;
  top: 25.55px;
  left: 190.25px;
  border-radius: var(--br-4xs);
  width: 353.4px;
  height: 31.61px;
  opacity: 0.3;
}
.vector-icon {
  top: 52.85px;
  left: 604.25px;
  width: 372.4px;
  height: 33.75px;
}
.easy-to-go-live-in-minutes-wit-parent {
  position: absolute;
  top: 498.17px;
  left: 0;
  width: 974px;
  height: 295px;
}
.we-at-most {
  margin: 0;
}
.we-at-most-container {
  position: absolute;
  top: 201px;
  left: 6px;
  line-height: 29px;
  display: inline-block;
  width: 304px;
  height: 94px;
}
.icon-2 {
  position: absolute;
  top: -8px;
  left: 104px;
  width: 114px;
  height: 131px;
}
.we-at-most-give-priority-tio-t-parent {
  position: absolute;
  top: 498.17px;
  left: 417px;
  width: 317px;
  height: 295px;
}
.easily-schedule-your {
  position: absolute;
  top: 201px;
  left: 20px;
  line-height: 29px;
  display: inline-block;
  width: 292px;
  height: 94px;
}
.icon-3 {
  position: absolute;
  top: 0;
  left: 111.82px;
  width: 112.21px;
  height: 110px;
}
.easily-schedule-your-livestrea-parent {
  position: absolute;
  top: 498.17px;
  left: 834px;
  width: 317px;
  height: 295px;
}
.compound-path-icon,
.group-icon,
.path-icon {
  position: absolute;
  height: 2.11%;
  width: 1.62%;
  top: 0.41%;
  right: 90.56%;
  bottom: 97.49%;
  left: 7.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.compound-path-icon,
.group-icon {
  height: 1.85%;
  width: 1.44%;
  top: -0.14%;
  right: 44.6%;
  bottom: 98.29%;
  left: 53.96%;
}
.compound-path-icon {
  height: 2.06%;
  width: 1.69%;
  top: 1.7%;
  right: 7%;
  bottom: 96.24%;
  left: 91.31%;
}
.group-parent {
  position: absolute;
  top: 132.83px;
  left: 337.92px;
  width: 1151px;
  height: 793.17px;
  font-size: var(--font-size-base);
}
.all-in-one-proof-for-final-mil-inner {
  position: absolute;
  top: 0;
  left: 1570.92px;
  border-radius: 50%;
  background-color: var(--white);
  width: 580px;
  height: 580px;
  opacity: 0.05;
}
.all-in-one-proof-for-final-mil-child1,
.all-in-one-proof-for-final-mil-child2 {
  position: absolute;
  top: 294px;
  left: 1657.92px;
  width: 141.01px;
  height: 311.46px;
}
.all-in-one-proof-for-final-mil-child2 {
  top: 732px;
  left: 90.92px;
}
.all-in-one-proof-for-final-mil {
  position: absolute;
  top: 2645px;
  left: -137.92px;
  width: 2150.92px;
  height: 1317.88px;
  text-align: center;
}
.schedule-livestream {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.rectangle-div {
  position: absolute;
  top: 78px;
  left: 127px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--purple);
  width: 84px;
  height: 4px;
}
.schedule-livestream-parent,
.solutions-for-every-delivery {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 82px;
}
.solutions-for-every-delivery {
  top: 1086px;
  left: 625px;
  text-align: center;
  color: var(--text-grey);
}
.schedule,
.vector-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97vw;
  height: 891px;
}
.schedule {
  letter-spacing: -0.01em;
  line-height: 63px;
  display: inline-block;
  width: 240.27px;
  height: 88.53px;
}
.text-child {
  position: absolute;
  top: 43.8px;
  left: 194.03px;
  width: 86.43px;
  height: 94.19px;
  overflow: hidden;
}
.happy-scheduling {
  position: absolute;
  top: 67.81px;
  left: 4.32px;
  font-size: var(--font-size-xl);
  line-height: 160%;
  display: inline-block;
  width: 452.01px;
  height: 30.14px;
  opacity: 0.8;
}
.text {
  position: absolute;
  top: 163.88px;
  left: 0;
  width: 456.34px;
  height: 137.98px;
}
.span {
  text-decoration: underline;
}
.home-schedule-plan-container {
  position: absolute;
  top: 5.65px;
  left: 51.86px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 332.75px;
  height: 16.95px;
}
.navigate {
  position: relative;
  width: 77px;
  height: 34px;
}
.menu,
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 456.34px;
  height: 301.87px;
}
.menu-wrapper {
  top: 57.45px;
  left: 230.16px;
}
.jan-2021 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 82.5px);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.month {
  position: absolute;
  width: calc(100% - 0.34px);
  top: 0;
  right: 0.34px;
  left: 0;
  background: linear-gradient(180deg, #fe783d, #e25618);
  height: 144px;
  overflow: hidden;
  color: var(--white);
}
.new-years-day {
  margin: 0;
  padding-left: var(--padding-smi);
}
.add-your-holiday-container,
.write-somthing-here-container {
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 134px;
}
.write-somthing-here-container {
  display: none;
}
.div1,
.notes {
  position: absolute;
}
.notes {
  top: 73px;
  left: 8px;
  width: 134px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div1 {
  top: 9px;
  left: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.weather-icons {
  position: absolute;
  top: 15px;
  left: 124px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.date1,
.div2 {
  position: absolute;
  top: 0;
  left: 0;
}
.date1 {
  width: 150px;
  height: 47px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-montserrat);
}
.div2 {
  letter-spacing: -0.02em;
}
.emojis,
.work {
  position: relative;
}
.emojis {
  width: 10px;
  height: 10px;
}
.work {
  font-size: var(--font-size-5xs);
  letter-spacing: -0.02em;
  font-family: var(--font-montserrat);
  color: var(--color-darkolivegreen);
}
.emojis-parent,
.tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.emojis-parent {
  gap: var(--gap-10xs);
}
.tags1 {
  border-radius: var(--br-xs);
  background-color: var(--color-antiquewhite);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.life {
  position: relative;
  font-size: var(--font-size-5xs);
  letter-spacing: -0.02em;
  font-family: var(--font-montserrat);
  color: var(--color-darkslateblue);
}
.tags,
.tags2 {
  display: flex;
  flex-direction: row;
}
.tags2 {
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.tags {
  position: absolute;
  top: 47px;
  left: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.date {
  position: relative;
  background-color: var(--color-mediumaquamarine);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}
.add-your-holiday-container1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 132.9%;
  font-weight: 600;
  display: inline-block;
  width: 134px;
}
.date2,
.date3 {
  width: 150px;
  overflow: hidden;
}
.date3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
.date2 {
  position: relative;
  background-color: rgba(254, 192, 39, 0.2);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 150px;
  flex-shrink: 0;
}
.date-parent {
  position: absolute;
  top: 0;
  left: 750px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.date4 {
  position: relative;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
}
.date-container,
.date-group {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
}
.date-group {
  top: 150px;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-container {
  top: 300px;
}
.date-container,
.date-parent1,
.notes19 {
  align-items: flex-start;
  justify-content: flex-start;
}
.notes19 {
  position: absolute;
  top: 73px;
  left: 8px;
  width: 134px;
  display: none;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.date-parent1 {
  top: 600px;
  display: flex;
  flex-direction: row;
}
.date-parent1,
.date-parent2,
.date60 {
  position: absolute;
  left: 0;
}
.date-parent2 {
  top: 450px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.date60 {
  top: 750px;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.calendar {
  position: absolute;
  top: 237px;
  left: 48px;
  width: 1050px;
  height: 900px;
  text-align: left;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.sunday {
  position: absolute;
  top: 33px;
  left: 42px;
  letter-spacing: -0.02em;
}
.weekday {
  position: relative;
  background-color: var(--white);
  width: 150px;
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
}
.sunday1,
.sunday3,
.sunday4,
.sunday5,
.sunday6 {
  position: absolute;
  top: 33px;
  left: 39px;
  letter-spacing: -0.02em;
}
.sunday3,
.sunday4,
.sunday5,
.sunday6 {
  left: 23px;
}
.sunday4,
.sunday5,
.sunday6 {
  left: 35px;
}
.sunday5,
.sunday6 {
  left: 48px;
}
.sunday6 {
  left: 36px;
}
.weekday-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.weekdays-child {
  position: relative;
  background-color: var(--color-gainsboro-300);
  width: 1145px;
  height: 1px;
}
.weekdays {
  position: absolute;
  top: 146px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
}
.jan,
.union {
  width: 959.34px;
  height: 647.06px;
}
.jan {
  position: absolute;
  top: 415.3px;
  left: 297.17px;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  mix-blend-mode: normal;
}
.union {
  position: relative;
  background-color: var(--color-gainsboro-300);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-montserrat);
}
.hero {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1385px;
  height: 891px;
  font-size: 55px;
}
.cricles-icon,
.purple-circle {
  position: absolute;
  top: 3705px;
  left: -260px;
  width: 666px;
  height: 666px;
}
.purple-circle {
  top: 847px;
  left: 46px;
  border-radius: 50%;
  background-color: var(--cyan);
  filter: blur(130px);
  width: 406px;
  height: 406px;
  opacity: 0.2;
}
.frame-icon,
.schedule-selection-final-item {
  position: absolute;
  top: 3304px;
  left: 1161px;
  width: 77px;
  height: 74px;
  object-fit: cover;
}
.frame-icon {
  top: 155px;
  left: 610px;
  border-radius: var(--br-xl);
  width: 708px;
  height: 743px;
  overflow: hidden;
  opacity: 0.8;
}
.may-2021 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 90px);
  letter-spacing: -0.02em;
  font-weight: 600;
}
.month-child {
  position: absolute;
  top: -50px;
  left: 16px;
  width: 1648px;
  height: 287px;
  display: none;
}
.month1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #fdb65d, #ea9d3c);
  height: 144px;
  overflow: hidden;
  color: var(--white);
}
.div94 {
  top: 9px;
  left: 14px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.add-your-holiday21,
.div94,
.div95 {
  position: absolute;
  letter-spacing: -0.02em;
}
.add-your-holiday21 {
  top: 33px;
  left: 14px;
  line-height: 14px;
  color: var(--color-dimgray-100);
  display: flex;
  align-items: center;
  width: 96px;
  height: 55px;
}
.div95 {
  top: -20%;
  left: 0;
}
.emojis62 {
  position: absolute;
  top: 14px;
  left: 100px;
  width: 10px;
  height: 10px;
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.simple-date {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 743px;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
  color: var(--color-dimgray-200);
}
.div97,
.simple-date1 {
  position: absolute;
  left: 0;
}
.div97 {
  top: 0;
  letter-spacing: -0.02em;
  display: none;
}
.simple-date1 {
  visibility: hidden;
  top: 96px;
  background-color: var(--color-mediumaquamarine);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
  color: var(--color-dimgray-200);
}
.add-your-holiday23 {
  position: absolute;
  top: 33px;
  left: 14px;
  letter-spacing: -0.02em;
  line-height: 14px;
  color: var(--color-dimgray-100);
  display: none;
  align-items: center;
  width: 96px;
  height: 55px;
}
.emojis64 {
  position: absolute;
  top: 14px;
  left: 100px;
  width: 10px;
  height: 10px;
  display: none;
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.simple-date2,
.simple-date3,
.simple-date4,
.simple-date5,
.simple-date6 {
  visibility: hidden;
  position: absolute;
  top: 96px;
  left: 124px;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date3,
.simple-date4,
.simple-date5,
.simple-date6 {
  visibility: hidden;
  left: 248px;
}
.simple-date4,
.simple-date5,
.simple-date6 {
  visibility: hidden;
  left: 372px;
}
.simple-date5,
.simple-date6 {
  visibility: hidden;
  left: 496px;
}
.simple-date6 {
  visibility: hidden;
  left: 620px;
}
.add-your-holiday28 {
  visibility: hidden;
  position: absolute;
  top: 33px;
  left: 14px;
  letter-spacing: -0.02em;
  line-height: 14px;
  display: none;
  align-items: center;
  width: 96px;
  height: 55px;
}
.simple-date10,
.simple-date11,
.simple-date12,
.simple-date13,
.simple-date7,
.simple-date8,
.simple-date9 {
  visibility: hidden;
  position: absolute;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date7 {
  visibility: hidden;
  top: 96px;
  left: 744px;
  color: var(--color-dimgray-200);
}
.simple-date10,
.simple-date11,
.simple-date12,
.simple-date13,
.simple-date8,
.simple-date9 {
  visibility: hidden;
  top: 192px;
}
.simple-date8 {
  visibility: hidden;
  left: 0;
  color: var(--color-dimgray-200);
}
.simple-date10,
.simple-date11,
.simple-date12,
.simple-date13,
.simple-date9 {
  visibility: hidden;
  left: 124px;
}
.simple-date10,
.simple-date11,
.simple-date12,
.simple-date13 {
  visibility: hidden;
  left: 248px;
}
.simple-date11,
.simple-date12,
.simple-date13 {
  visibility: hidden;
  left: 372px;
  background-color: var(--color-mediumaquamarine);
}
.simple-date12,
.simple-date13 {
  visibility: hidden;
  left: 496px;
  background-color: var(--color-gray-100);
}
.simple-date13 {
  visibility: hidden;
  left: 620px;
}
.simple-date14,
.simple-date15 {
  visibility: hidden;
  background-color: var(--color-gray-100);
  color: var(--color-dimgray-200);
}
.simple-date14 {visibility: hidden;
  position: absolute;
  top: 192px;
  left: 744px;
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date15 {
  left: 0;visibility: hidden;
}
.simple-date15,
.simple-date16,
.simple-date17,
.simple-date18,
.simple-date19 {
  position: absolute;visibility: hidden;
  top: 288px;
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date16 {
  left: 124px;
  background-color: rgba(255, 96, 96, 0.2);visibility: hidden;
}
.simple-date17,
.simple-date18,
.simple-date19 {
  left: 248px;visibility: hidden;
  background-color: var(--color-gray-100);
}
.simple-date18,
.simple-date19 {
  left: 372px;visibility: hidden;
}
.simple-date19 {
  left: 496px;visibility: hidden;
}
.simple-date20 {
  top: 288px;
  left: 620px;visibility: hidden;
}
.simple-date20,
.simple-date21,
.simple-date22,
.simple-date23,
.simple-date24,
.simple-date25,
.simple-date26 {
  position: absolute;visibility: hidden;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date21 {
  top: 288px;visibility: hidden;
  left: 744px;
  color: var(--color-dimgray-200);
}
.simple-date22,
.simple-date23,
.simple-date24,
.simple-date25,
.simple-date26 {
  top: 384px;
}
.simple-date22 {
  left: 0;visibility: hidden;
  color: var(--color-dimgray-200);
}
.simple-date23,
.simple-date24,
.simple-date25,
.simple-date26 {
  left: 124px;visibility: hidden;
}
.simple-date24,
.simple-date25,
.simple-date26 {
  left: 248px;visibility: hidden;
}
.simple-date25,
.simple-date26 {
  left: 372px;visibility: hidden;
}
.simple-date26 {
  left: 496px;visibility: hidden;
}
.simple-date27 {
  top: 384px;
  left: 620px;visibility: hidden;
}
.simple-date27,
.simple-date28,
.simple-date29,
.simple-date30 {
  position: absolute;visibility: hidden;
  background-color: var(--color-gray-100);
  border: 0.8px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 124px;
  height: 96px;
  overflow: hidden;
}
.simple-date28 {
  top: 384px;visibility: hidden;
  left: 744px;
  color: var(--color-dimgray-200);
}
.simple-date29,
.simple-date30 {
  top: 480px;visibility: hidden;
}
.simple-date29 {
  left: 0;visibility: hidden;
  color: var(--color-dimgray-200);
}
.simple-date30 {
  left: 124px;visibility: hidden;
}
.simple-date-parent {
  position: absolute;
  top: 64px;visibility: hidden;
  left: 48px;
  width: 868px;
  height: 576px;
}
.saturday {
  position: absolute;
  top: 22px;
  left: 47px;
  letter-spacing: -0.02em;
}
.weekday-small {
  position: relative;
  background-color: var(--white);
  width: 124px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.saturday1,
.saturday4,
.saturday5,
.saturday6 {
  position: absolute;
  top: 22px;
  left: 44px;
  letter-spacing: -0.02em;
}
.saturday4,
.saturday5,
.saturday6 {
  left: 40px;
}
.saturday5,
.saturday6 {
  left: 52px;
}
.saturday6 {
  left: 49px;
}
.frame-child {
  position: relative;
  background-color: var(--color-gainsboro-300);
  width: 964px;
  height: 1px;
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.calendar1 {
  position: absolute;
  top: 144px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 944px;
  height: 640px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
}
.monthly-plan {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.title {
  align-self: stretch;
  background-color: #ddf9f6;
  height: 88px;
  display: flex;
  flex-direction: row;
  padding: 18px 188px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.card-sign-child,
.card-sign-item {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.card-sign-child {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-5xl);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.card-sign-item {
  height: 41%;
  bottom: 59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div156,
.may {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.may {
  height: 24%;
  width: 45%;
  top: 8%;
  left: 28%;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.div156 {
  height: 47%;
  width: 100%;
  top: 45%;
  left: 0;
  font-size: 28px;
  color: #323232;
}
.card-sign {
  position: relative;
  width: 100px;
  height: 100px;
  display: none;
}
.schedule-stream {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  line-height: 148%;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 438px;
  flex-shrink: 0;
}
.cards {
  border-radius: var(--br-xs);
  background-color: #6c98db;
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 164px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 9px var(--padding-base) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--white);
}
.stream-name {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 148%;
  display: inline-block;
  width: 68px;
  height: 57px;
  flex-shrink: 0;
}
.cards-child {
  position: relative;
  background-color: white;
  width: 263px;
  height: 27px;
}
.cards1 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 76px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.description {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 148%;
  display: inline-block;
  width: 92px;
  height: 30px;
  flex-shrink: 0;
}
.cards-item {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 272px;
  height: 27px;
}
.cards2,
.cards4 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 76px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.cards4 {
  height: 66px;
  gap: var(--gap-13xl);
}
.latency {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 148%;
  display: inline-block;
  width: 68px;
  height: 35px;
  flex-shrink: 0;
}
.radio-button {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
  border: 3px solid #f4f4f4;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.standard {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 148%;
  display: inline-block;
  width: 80px;
  height: 25px;
  flex-shrink: 0;
}
.radio-button1 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
  border: 3px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 17px;
  height: 17px;
}
.cards5 {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 403px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.cards-child2 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 64px;
  height: 27px;
  top:-7px;
  left:-27px;
}
.cards6 {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 197px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.create,
.group-child1 {
  position: absolute;
  top: 0;
}
.group-child1 {
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-sandybrown);
  width: 193px;
  height: 53px;
}
.create {
  left: 41px;
  letter-spacing: -0.02em;
  line-height: 148%;
  display: inline-block;
  width: 143px;
  height: 36px;
}
.rectangle-parent {
  position: relative;
  width: 193px;
  height: 53px;
  font-size: 32px;
  color: var(--white);
}
.info-area,
.planner-example {
  display: flex;
  flex-direction: column;
}
.info-area {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 670px;
  padding: 44px 7px 21px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.planner-example {
  position: absolute;
  top: 195px;
  left: 964px;
  border-radius: var(--br-5xl);
  width: 431px;
  height: 800px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: #6a8b86;
}
.template-8-child {
  position: absolute;
  top: 827px;
  left: 48px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 780px;
  height: 377px;
}
.details {
  position: absolute;
  top: 838px;
  left: 181px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 363px;
  height: 51px;
}
.template-8-item {
  position: absolute;
  top: 898px;
  left: 66px;
  border-radius: var(--br-11xl);
  background-color: #f0f0f0;
  width: 739px;
  height: 274px;
}
.stream-key-container {
  position: absolute;
  top: 919px;
  left: 166px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 479px;
  height: 213px;
}
.frame-icon1,
.notepad-1-icon,
.notepad-2-icon,
.notepad-3-icon,
.notepad-4-icon {
  position: absolute;
  top: 919px;
  left: 134px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.frame-icon1,
.notepad-2-icon,
.notepad-3-icon,
.notepad-4-icon {
  top: 969px;
}
.frame-icon1,
.notepad-3-icon,
.notepad-4-icon {
  top: 1015px;
}
.frame-icon1,
.notepad-4-icon {
  top: 1065px;
}
.frame-icon1 {
  top: -964px;
  left: 689px;
  border-radius: var(--br-xl);
  width: 760px;
  height: 630px;
  overflow: hidden;
}
.template-8,
.template-8-inner {
  position: absolute;
  top: 63.35px;
  left: 1342.75px;
  width: 38.25px;
  height: 43.3px;
}
.template-8 {
  top: 1206px;
  left: 75px;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  width: 1422px;
  height: 1246px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.purple-circle1 {
  position: absolute;
  top: 915px;
  left: 1126px;
  border-radius: 50%;
  background: linear-gradient(120.97deg, #ce5beb, #5b61eb);
  filter: blur(130px);
  width: 406px;
  height: 406px;
  opacity: 0.2;
}
.happy-streaming {
  position: absolute;
  top: 4831px;
  left: 447px;
  font-size: 96px;
  line-height: 56px;
  text-transform: capitalize;
  color: var(--color-black);
  display: inline-block;
  width: 945px;
  height: 98px;
}
.schedule-selection-final-inner {
  position: absolute;
  top: 1269.35px;
  left: 125px;
  width: 38.25px;
  height: 43.3px;
}
.schedule-selection-final {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 5099px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-font);
}
.buttonForMonth{
  position: absolute;
    left: -5px;
    top: -181px;
    z-index: 1;
    width: 113px;
    height: 61px;
    background-color: orange;
    border: solid;
    color: white;
    text-decoration: solid;
    border-radius: 20px;
    font-size: xxx-large;
}

table,th, td {
  border: 2px solid rgb(75, 74, 74);
  border-collapse: collapse;padding: 4px;
  
} 

.fontBold{
  font-weight: bold;
}
.createBtn{
  font-size: large;
    background-color: orange;
    border: none;
    color: white;
    font-weight: bold;
    width: 13vw;
    height: 7vh;
    border-radius: 3vh;
}
