.div1,
.terms-conditions1 {
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 263%;
  display: inline-block;
  width: 352px;
  opacity: 0.5;
}
.terms-conditions1 {
  left: 998px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-lavender-200);
  width: 1251px;
  height: 1px;
}
.footer2,
.group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1350px;
  height: 59px;
}
.footer2 {
  top: 5965px;
  left: 167px;
  font-size: var(--font-size-mini);
  color: var(--text-grey);
}
.about-us,
.faq-child {
  position: absolute;
  left: 0;
}
.faq-child {
  top: 0;
  background-color: var(--light-grey);
  width: 1601px;
  height: 1568px;
}
.about-us {
  top: 80px;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.group-child15 {
  position: absolute;
  top: 165px;
  left: 32px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--purple);
  width: 84px;
  height: 4px;
}
.frame-icon {
  position: absolute;
  top: 0;
  left: 37px;
  width: 73px;
  height: 69px;
  overflow: hidden;
}
.about-us-parent {
  position: absolute;
  top: 0;
  left: 561.5px;
  width: 149px;
  height: 169px;
}
.group-icon,
.group-parent,
.image-42-icon {
  position: absolute;
  top: 272.5px;
  left: 0;
  width: 1251px;
  height: 750px;
}
.group-parent,
.image-42-icon {
  top: 283px;
  left: 186.5px;
  height: 1022.5px;
}
.image-42-icon {
  top: 715px;
  left: 1032px;
  width: 375px;
  height: 493px;
  object-fit: cover;
}
.faq {
  position: absolute;
  top: 3606px;
  left: 18px;
  width: 1601px;
  height: 1568px;
  text-align: center;
  color: var(--text-grey);
}
.advanced-fleet-tracking-soluti-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1587px;
  height: 577px;
  object-fit: cover;
}
.go-live-freely1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 61px;
}
.get-started1 {
  position: relative;
}
.primary-button1 {
  position: absolute;
  top: 147px;
  left: 3px;
  border-radius: var(--br-mini);
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-21xl);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
}
.go-live-freely-group {
  position: absolute;
  top: 179px;
  left: 167px;
  width: 241px;
  height: 202px;
}
.advanced-fleet-tracking-soluti1 {
  position: absolute;
  top: 5057px;
  left: 0;
  width: 1587px;
  height: 577px;
  color: var(--white);
}
.user-landing-page-after-login-child {
  position: absolute;
  top: 5210px;
  left: 61px;
  width: 153.83px;
  height: 153.83px;
}
.delivery-business-interfcaes-child {
  position: absolute;
  top: 0;
  left: 101.46px;
  width: 1587px;
  height: 1519.07px;
}
.ellipse-div {
  top: 267px;
  left: 15px;
  border: 5px solid var(--orange);
  width: 313px;
  height: 313px;
  opacity: 0.2;
}
.ellipse-div,
.group-child16,
.group-child17 {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
}
.group-child16 {
  top: 75px;
  left: 854px;
  border: 5px solid #37c8dc;
  width: 313px;
  height: 313px;
  opacity: 0.3;
}
.group-child17 {
  top: 233px;
  left: 0;
  border: 5px solid var(--orange);
  width: 51px;
  height: 51px;
  opacity: 0.2;
}
.body-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-37 {
  position: absolute;
  top: -53.23px;
  left: -48.34px;
  background: linear-gradient(120.97deg, #ce5beb, #5b61eb);
  width: 918px;
  height: 689px;
}
.ipad-pro-screen-1194x834-child,
.login,
.sign-in {
  position: absolute;
  top: 70px;
  left: 391px;
  width: 6.66px;
  height: 441.8px;
}
.login,
.sign-in {
  top: 53px;
  left: 113px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 313px;
  height: 98px;
}
.login {
  left: 547px;
}
.email,
.password,
.password1,
.username,
.username1 {
  position: absolute;
  top: 155px;
  left: 31px;
  display: inline-block;
  width: 110px;
  height: 40px;
}
.email,
.password,
.password1,
.username1 {
  left: 431px;
}
.email,
.password,
.password1 {
  top: 235px;
  left: 31px;
}
.password,
.password1 {
  top: 315px;
}
.password1 {
  top: 235px;
  left: 431px;
}
.ipad-pro-screen-1194x834-child1,
.ipad-pro-screen-1194x834-inner,
.ipad-pro-screen-1194x834-item {
  position: absolute;
  top: 187px;
  left: 30.49px;
  border-top: 1px solid var(--white);
  box-sizing: border-box;
  width: 328.01px;
  height: 1px;
}
.ipad-pro-screen-1194x834-child1,
.ipad-pro-screen-1194x834-inner {
  top: 277px;
}
.ipad-pro-screen-1194x834-child1 {
  top: 367px;
}
.ipad-pro-screen-1194x834-child2,
.line-icon {
  position: absolute;
  top: 281.5px;
  left: 420.99px;
  width: 327.01px;
  height: 1px;
}
.ipad-pro-screen-1194x834-child2 {
  top: 191.5px;
}
.primary-button2,
.primary-button3 {
  position: absolute;
  top: 415px;
  left: 128px;
  border-radius: var(--br-mini);
  background-color: var(--orange);
  width: 135px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-16xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-lgi);
}
.primary-button3 {
  top: 335px;
  left: 518px;
}
.forgot-password {
  position: absolute;
  top: 435px;
  left: 518px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 253px;
  height: 47px;
}
.image-44-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 827px;
  height: 596px;
  object-fit: cover;
}
.ipad-pro-screen-1194x834 {
  position: absolute;
  top: 27px;
  left: 31.33px;
  width: 827px;
  height: 574px;
  overflow: hidden;
}
.ipad-pro {
  position: absolute;
  height: 100%;
  width: 75.75%;
  top: 0;
  right: 11.85%;
  bottom: 0;
  left: 12.4%;
}
.ellipse-parent {
  position: absolute;
  top: 526.57px;
  left: 337.46px;
  width: 1167px;
  height: 636.91px;
}
.for-everyone {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.group-child18 {
  position: absolute;
  top: 78px;
  left: 67px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--purple);
  width: 84px;
  height: 4px;
}
.for-everyone-parent {
  position: absolute;
  top: 0;
  left: 226px;
  width: 224px;
  height: 82px;
}
.primary-button4 {
  position: absolute;
  top: 130px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--light-grey);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-21xl);
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.group-child19 {
  position: absolute;
  top: 202px;
  left: 300.83px;
  border-radius: 1px;
  width: 16px;
  height: 12.5px;
}
.group-container {
  position: absolute;
  top: 272.57px;
  left: 585.46px;
  width: 450px;
  height: 214.5px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--text-grey);
}
.delivery-business-interfcaes1 {
  position: absolute;
  top: 1570.43px;
  left: -101.46px;
  width: 1791.3px;
  height: 1537.18px;
  font-size: var(--font-size-5xl);
  color: var(--white);
}
.primary-button5,
.primary-button6 {
  position: absolute;
  top: 1973px;
  left: 724px;
  border-radius: var(--br-mini);
  background-color: var(--light-grey);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-21xl);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
}
.primary-button6 {
  left: 964px;
}
.all-in-one-proof-for-final-mil-child1 {
  position: absolute;
  top: 200px;
  left: 137.92px;
  width: 1587px;
  height: 1033px;
  opacity: 0.5;
}
.all-in-one-proof-for-final-mil-child2 {
  position: absolute;
  top: 138.5px;
  left: 137.92px;
  width: 1587px;
  height: 1073px;
}
.one-stop-solution-for1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 54px;
}
.group-child20 {
  position: absolute;
  top: 135px;
  left: 370px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--white);
  width: 84px;
  height: 4px;
}
.one-stop-solution-for-all-your-group {
  position: absolute;
  top: 411px;
  left: 497.92px;
  width: 830px;
  height: 139px;
}
.easy-to-go,
.record-podcast {
  position: absolute;
  display: inline-block;
}
.easy-to-go {
  top: 201px;
  left: 12px;
  line-height: 29px;
  width: 292px;
  height: 94px;
}
.record-podcast {
  top: 163px;
  left: 0;
  font-size: var(--font-size-8xl);
  line-height: 30px;
  width: 317px;
}
.icon-1 {
  position: absolute;
  top: 0;
  left: 104px;
  width: 83px;
  height: 114px;
}
.group-child21,
.group-child22 {
  position: absolute;
  top: 25.55px;
  left: 190.25px;
  border-radius: var(--br-4xs);
  width: 353.4px;
  height: 31.61px;
  opacity: 0.3;
}
.group-child22 {
  top: 52.85px;
  left: 604.25px;
  width: 372.4px;
  height: 33.75px;
}
.easy-to-go-live-in-minutes-wit-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 974px;
  height: 295px;
}
.we-at-most {
  margin: 0;
}
.we-at-most-container {
  position: absolute;
  top: 201px;
  left: 6px;
  line-height: 29px;
  display: inline-block;
  width: 304px;
  height: 94px;
}
.icon-2 {
  position: absolute;
  top: -8px;
  left: 104px;
  width: 114px;
  height: 131px;
}
.we-at-most-give-priority-tio-t-parent {
  position: absolute;
  top: 0;
  left: 417px;
  width: 317px;
  height: 295px;
}
.easily-schedule-your {
  position: absolute;
  top: 201px;
  left: 20px;
  line-height: 29px;
  display: inline-block;
  width: 292px;
  height: 94px;
}
.icon-3 {
  position: absolute;
  top: 0;
  left: 111.82px;
  width: 112.21px;
  height: 110px;
}
.easily-schedule-your-livestrea-parent {
  position: absolute;
  top: 0;
  left: 834px;
  width: 317px;
  height: 295px;
}
.compound-path-icon,
.group-icon1,
.path-icon {
  position: absolute;
  height: 6.6%;
  width: 1.62%;
  top: 8.47%;
  right: 90.56%;
  bottom: 84.92%;
  left: 7.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.compound-path-icon,
.group-icon1 {
  height: 5.71%;
  width: 1.45%;
  top: 6.77%;
  right: 44.59%;
  bottom: 87.52%;
  left: 53.95%;
}
.compound-path-icon {
  height: 6.58%;
  width: 1.69%;
  top: 12.54%;
  right: 7%;
  bottom: 80.88%;
  left: 91.31%;
}
.group-parent1 {
  position: absolute;
  top: 631px;
  left: 337.92px;
  width: 1151px;
  height: 295px;
  font-size: var(--font-size-base);
}
.all-in-one-proof-for-final-mil-child3 {
  position: absolute;
  top: 0;
  left: 1570.92px;
  border-radius: 50%;
  background-color: var(--white);
  width: 580px;
  height: 580px;
  opacity: 0.05;
}
.all-in-one-proof-for-final-mil-child4,
.all-in-one-proof-for-final-mil-child5 {
  position: absolute;
  top: 294px;
  left: 1657.92px;
  width: 141.01px;
  height: 311.46px;
}
.all-in-one-proof-for-final-mil-child5 {
  top: 732px;
  left: 137.92px;
}
.all-in-one-proof-for-final-mil1 {
  position: absolute;
  top: 2645px;
  left: -137.92px;
  width: 2150.92px;
  height: 1317.88px;
  text-align: center;
  color: var(--white);
}
.solutions-child {
  position: absolute;
  top: 170px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 286px;
  height: 327px;
}
.workshops {
  position: absolute;
  top: 295px;
  left: 80px;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.make-your-workshop {
  position: absolute;
  top: 356px;
  left: 24px;
  font-size: var(--font-size-base);
  line-height: 197%;
  display: inline-block;
  width: 237px;
  opacity: 0.8;
}
.food-icon,
.image-38-icon {
  position: absolute;
  top: 0;
  left: 24px;
  width: 83px;
  height: 78px;
}
.image-38-icon {
  top: 206px;
  left: 100px;
  width: 96.48px;
  height: 90px;
  object-fit: cover;
}
.solutions,
.solutions-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 286px;
  height: 497px;
}
.solutions-item {
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 1px solid var(--color-lavender-100);
  box-sizing: border-box;
  height: 327px;
}
.cultural-events {
  position: absolute;
  top: 125px;
  left: 53px;
  letter-spacing: -0.01em;
  line-height: 65px;
  -webkit-text-stroke: 1px rgba(220, 226, 238, 0.71);
}
.make-your-cultural {
  position: absolute;
  top: 186px;
  left: 25px;
  font-size: var(--font-size-base);
  line-height: 197%;
  font-family: var(--font-abeezee);
  color: rgba(46, 82, 107, 0.8);
  display: inline-block;
  width: 237px;
}
.image-39-icon {
  position: absolute;
  top: 29px;
  left: 58px;
  width: 150px;
  height: 120px;
  object-fit: cover;
}
.solutions1 {
  position: absolute;
  top: 170px;
  left: 322px;
  width: 286px;
  height: 327px;
}
.college-events {
  position: absolute;
  top: 125px;
  left: 60px;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.most-important-for {
  position: absolute;
  top: 186px;
  left: 24px;
  font-size: var(--font-size-base);
  line-height: 197%;
  display: inline-block;
  width: 237px;
  opacity: 0.8;
}
.solutions2 {
  position: absolute;
  top: 170px;
  left: 644px;
  width: 286px;
  height: 327px;
}
.logistics {
  position: absolute;
  top: 125px;
  left: 93px;
  letter-spacing: -0.01em;
  line-height: 65px;
}
.group-child23,
.solutions3 {
  position: absolute;
  top: 170px;
  left: 966px;
  width: 286px;
  height: 327px;
}
.group-child23 {
  top: 78px;
  left: 231px;
  border-radius: var(--br-11xs) 0 var(--br-11xs) 0;
  background-color: var(--purple);
  width: 84px;
  height: 4px;
}
.go-live-in-minutes-for-any-eve-parent {
  position: absolute;
  top: 13px;
  left: 353px;
  width: 552px;
  height: 82px;
  font-size: var(--font-size-21xl);
}
.solutions-for-every-delivery {
  position: absolute;
  top: 1073px;
  left: 168px;
  width: 1252px;
  height: 497px;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--text-grey);
}
.go-live1,
.vector-icon1 {
  position: absolute;
  top: 32px;
  left: 176px;
  width: 1602.5px;
  height: 946px;
}
.go-live1 {
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 63px;
  display: inline-block;
  width: 681px;
  height: 183px;
}
.text-item {
  position: absolute;
  top: 47px;
  left: 225px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.go-live-in1 {
  position: absolute;
  top: 205px;
  left: 1px;
  font-size: var(--font-size-xl);
  line-height: 160%;
  display: inline-block;
  width: 523px;
  opacity: 0.8;
}
.primary-button7 {
  position: absolute;
  top: 269px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--orange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-21xl);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-2xl);
}
.text1 {
  position: absolute;
  top: 167.5px;
  left: 0;
  width: 681px;
  height: 324px;
}
.home {
  text-decoration: underline;
}
.home-schedule-plan-container1 {
  position: absolute;
  top: 0;
  left: 60.5px;
  font-size: var(--font-size-lg);
}
.group-child24,
.menu1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 681px;
  height: 491.5px;
}
.group-child24 {
  top: 63.5px;
  left: 601px;
  width: 774px;
  height: 509.46px;
  object-fit: cover;
}
.hero1,
.menu-parent {
  position: absolute;
  top: 58px;
  left: 438.5px;
  width: 1375px;
  height: 572.96px;
}
.hero1 {
  top: -32px;
  left: -176px;
  width: 1813.5px;
  height: 946px;
  font-size: var(--font-size-36xl);
  color: var(--white);
}
.user-landing-page-after-login-item {
  position: absolute;
  top: 151px;
  left: 72px;
  width: 220px;
  height: 200px;
}
.cricles-icon1,
.user-landing-page-after-login-inner {
  position: absolute;
  top: 176px;
  left: 1421px;
  width: 166px;
  height: 156px;
}
.cricles-icon1 {
  top: 484px;
  left: 0;
  width: 2030px;
  height: 3887px;
}
.image-40-icon,
.image-41-icon {
  position: absolute;
  top: 1268px;
  left: 898px;
  width: 89px;
  height: 89px;
  object-fit: cover;
}
.image-41-icon {
  left: 1265px;
}
.welcome-to-our-container {
  position: absolute;
  top: 4347px;
  left: 258px;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.01em;
  line-height: 25px;
  display: inline-block;
  width: 725px;
  height: 536px;
}
.user-landing-page-after-login-child1 {
  position: absolute;
  top: 4331.99px;
  left: 1001px;
  width: 4.02px;
  height: 530.01px;
}
.user-landing-page-after-login-child2 {
  position: absolute;
  top: 3304px;
  left: 1161px;
  width: 77px;
  height: 74px;
  object-fit: cover;
}
.about-us1 {
  position: absolute;
  top: 4222px;
  left: 620px;
  font-size: var(--font-size-77xl);
  letter-spacing: -0.01em;
  line-height: 65px;
  text-align: center;
  display: inline-block;
  width: 381px;
  height: 65px;
}
.navigate1 {
  position: relative;
  width: 77px;
  height: 34px;
}
.go-live2 {
  position: absolute;
  top: 4px;
  left: 69px;
  line-height: 185%;
  display: inline-block;
  width: 295px;
  opacity: 0.8;
}
.logo-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
}
.go-live-group,
.user-landing-page-after-login-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 58px;
}
.user-landing-page-after-login-inner1 {
  top: 5696px;
  left: 79px;
  font-size: var(--font-size-5xl);
  color: var(--text-grey);
}
.good-to-see {
  position: absolute;
  top: 5811px;
  left: 408px;
  font-size: var(--font-size-77xl);
  line-height: 56px;
  text-transform: capitalize;
  display: inline-block;
  width: 945px;
  height: 98px;
}
.user-landing-page-after-login {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 6052px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-font);
}
